<div class="column">
	<nav class="panel is-11">
		<% @users.each do | user | %>
			<% next if current_user == user %>
		  <div class="panel-block">
		      <section class="section">
		      	<div class="columns is-3">
		      		<div class="column">
		      			<div class="media-left">
		      			  <figure class="image is-64x64px">
		      			    <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
		      			  </figure>
		      			</div>
		      		</div>
		      		<div class="column is-4">
		      			<a href= /profile/<%= user.id %> >
									<strong><%= user.name %></strong>
		      				<small><%= user.username %></small>
		      			</a>
		      		</div>
		      		<div class="column is-3">
		        		<% if current_user.following?(user)  %>
		        			<%= form_for(current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete }) do |f| %>
									  <%= f.submit "Unfollow", class: "button is-warning" %>
									<% end %>
		        		<% else %>
	 							 <%= form_for(current_user.active_relationships.build) do |f| %>
								  <div><%= hidden_field_tag :followed_id, user.id %></div>
								  <%= f.submit "Follow", class: "button is-info" %>
							   <% end %>
		        		<% end %>
		      		</div>
		      		<div class="column is-1">
		      		</div>
		      	</div>
		      </section>
		  </div>
		<% end %>
	</nav>
</div>