<!DOCTYPE html>
<html>
  <head>
    <title>Twittter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if flash[:notice] %>
  		<div class="notification is-primary global-notification">
  			<p class="notice"><%= notice %></p>
  		</div>
  	<% end %>
  	<% if flash[:alert] %>
  		<div class="notification is-danger global-notification">
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>
  	
  	
<nav class="nav" style="background: #1dcaff">
    <div class="nav-left">
    <%= link_to root_path, class: "navbar-item" do %>
  			<h1 class="title is-5">Twittter</h1>
  		<% end %>
  </div>

  <!-- Using a <label /> here -->
  <label class="nav-toggle" for="nav-toggle-state">
    <span></span>           <!-- ^^^^^^^^^^^^^^^^ -->
    <span></span>
    <span></span>
  </label>

  <!-- This checkbox is hidden -->
  <input type="checkbox" id="nav-toggle-state" />
  
  <div class="nav-right nav-menu">
    <% if user_signed_in? %>
				<%= link_to 'New Tweeet', root_path, class: "nav-item is-black" %>
        <%= link_to current_user.name, "/profile/" + current_user.id.to_s, class: "nav-item" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-item" %>
    <% else %>
        <%= link_to 'Log In', new_user_session_path, class: "nav-item" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "nav-item" %>
    <% end %>
  </div>
  
</nav>
    <%= yield %>
    
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>
